<div class="row mb-1 custom-border" *ngFor="let client of clients">
    <div class="col-md-2 border-right m-0">
      <img [src]="client.image || 'assets/product.png'" width="140px" height="105px" alt="Client Image">
    </div>
  
    <!-- Détails article -->
    <div class="col-md-4 border-right m-0">
      <div class="col">
        <div class="row">
          <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
          <div class="col-md-11">{{client.Nom}}</div>
        </div>
        <div class="row">
          <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
          <div class="col-md-11">{{client.Prenom}}</div>
        </div>
        <div class="row">
          <div class="col-md-1"><i class="fas fa-phone-alt blue-color"></i></div>
          <div class="col-md-11">{{client.Telephone}}</div>
        </div>
      </div>
    </div>
    
    <!-- Détails catégorie -->
    <div class="col-md-3 custom-border-right mb-1 mt-1">
      <div class="col">
        <div class="row">
          <div class="col-md-1"><i class="fas fa-home blue-color"></i></div>
          <div class="col-md-10">{{client.Adresse1}}</div>
        </div>
        <div class="row">
          <div class="col-md-1"><i class="fas fa-map-marker-alt blue-color"></i></div>
          <div class="col-md-10">{{client.Ville}}</div>
        </div>
        <div class="row">
          <div class="col-md-1"><i class="fas fa-globe-europe blue-color"></i></div>
          <div class="col-md-10">{{client.Pays}}</div>
        </div>
      </div>
    </div>
  
    <!-- Boutons action -->
    <div class="col-md-3 mb-1 mt-1">
      <div class="row">
        <div class="col-md-4">
          <button routerLink="/{{client.id}}/editt" type="button" class="btn btn-link">
            <i class="fas fa-pencil-alt"></i>&nbsp;Modifier
          </button>
        </div>
        <div class="col-md-4">
          <button (click)="delete(client.id)" type="button" class="btn btn-link text-danger">
            <i class="fas fa-trash-alt"></i>&nbsp;Supprimer
          </button>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-link">
            <i class="far fa-list-alt"></i>&nbsp;Détails
          </button>
        </div>
      </div>
    </div>
  </div>
  