<div class="col">
    <div class="col-md-12 mb-3 mt-3">
      <button (click)="fileInput.click()" style="background-color: transparent; border: none;">
        <img [src]="imgUrl || 'assets/product.png'" class="rounded-circle" width="200px" height="200px" />
        <input hidden type="file" #fileInput accept="image/*" (change)="fileInput.files && onFileInput(fileInput.files)">
      </button>
    </div>
    <div class="col-md-12">
        <h2><i class="fas fa-info-circle blue-color"></i>&nbsp;information article</h2>
    </div>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
        <div class="col">
            <input type="text" class="form-control" formControlName="codearticle" placeholder="Code article">
        </div>
        <div class="col">
            <input type="text" class="form-control" formControlName="designation" placeholder="Designation">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <input type="text" class="form-control" formControlName="prixunitht" placeholder="Prix unitaire HT">
        </div>
        <div class="col">
            <input type="text" class="form-control" formControlName="tauxtva" placeholder="Taux TVA">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <input type="number" class="form-control" formControlName="quantite" placeholder="Quantite">
        </div>
        <div class="col">
            <select class="form-control" formControlName="cat">
                <option *ngFor="let categ of categories" [value]="categ.designationCat">{{categ.designationCat}}</option>
                
            </select>
        </div>
    </div>
    <div class="col-md-12 text-right">
        <button class="btn btn-primary mr-3" type="submit" >
            <i class="fas fa-save"></i>&nbsp;
            Enregitrer
        </button>
    </div>
</form>
<button class="btn btn-danger mr-3" >
    <i class="fas fa-ban"></i>&nbsp;
    Annuler
</button>
