<div class="col">
  <div class="row m-3">
      <div class="col-md-8 p-0">
          <h2>Liste des clients</h2>
      </div>
      <div class="col-md-4 text-right">
          <button type="button" class="btn btn-primary" routerLink="/nouveauclient">
              <i class="fas fa-plus"></i>&nbsp; Nouveau Client
          </button>
      </div>
  </div>
  <div class="col m-3">
      <app-detail-clt-frs></app-detail-clt-frs>
  </div>
  <div class="row">
      <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-light">
            <i class="fas fa-angle-double-left"></i>
          </button>
          <button type="button" class="btn btn-light">
            <i class="fas fa-angle-left"></i>
          </button>
        
          <button type="button" class="btn btn-light">1</button>
          <button type="button" class="btn btn-light">2</button>
          
        
          <button type="button" class="btn btn-light">
            <i class="fas fa-angle-right"></i>
          </button>
          <button type="button" class="btn btn-light">
            <i class="fas fa-angle-double-right"></i>
          </button>
      </div>
  </div>
</div>
